@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-family: 'Noto Sans JP', sans-serif;
}

#title {
  border-bottom: 1px solid #e0e0e0;
}

.g-cube {
  height: 300px;
}

.cubecont {
  pointer-events: none;
}

#inputArea {
  text-align: center;
}

.symbolText {
  height: 30px;
  margin: 5px;
}

#description {
  width: 750px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  color: #666;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.btn {
  position: absolute;
  user-select: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  color: #799dec;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 1px 0px #5470ad;
}
.btn:active {
  margin-top: 2px;
  text-shadow: none;
}
